p {
    margin: 10px 0 !important;
}

.login-container {
    margin-top: 40px;
    text-align: center;
    width: 400px;
}

.fa-small {
    font-size: 20px !important;
}

.btn-float {
    float: left;
    margin: 10px;
}

.img-small {
    width: 180px;
}
